*{
    margin: 0;
    padding: 0;
    transition: all 0.3s;
}
header{
    background: orange;
    color: white;
    text-align: center;
    margin-top: 20px;
    height: 90px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    border: 5px solid black;
    border-radius: 20px;
}
header h1{
    font-family: 'Courier New', Courier, monospace;
}

main{
    background: black;
    margin-top: 50px;
    padding-bottom: 12.211%;
}

.info-1{
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    padding-top: 15px;
}
.feliz{
    background: white;
    text-align: center;
    height: 50px;
    border-radius: 20px;
    border: 5px solid orange;
    margin-top: 80px;
}

footer{
    background: black;
    height: 36.49px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.abajo{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 90%;
    background: orange;
    border-radius: 7px;
    border: 2px solid white;
    justify-content: center;
    align-items: center; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}